* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.contenedor {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 32px;
    color: #333333;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
}

select {
    width: 150px;
    height: 40px;
    border: none;
    outline: none;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

input {
    width: 400px;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 10px;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

button {
    width: 100px;
    height: 40px;
    border: none;
    outline: none;
    background-color: #333333;
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

ul {
    list-style-type: none;
}

li {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}

li:hover {
    background-color: #e0e0e0;
}

p {
    display: none; /* ocultamos la sinopsis por defecto */
}

.icono {
    width: 20px; /* usamos un icono de Font Awesome para indicar que hay una sinopsis */
}